{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<head>
  <script>
        var options = {
            valueNames: [
                {
                    name: 'list-name',
                    attr: 'data-name'
                }
            ]
        };
        var userList = new List('repos', options);

    </script>
  </head>
  <body>
  </body>
