{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

is this working?

<script>console.log("hello")</script>

<script type="text/javascript">
  <!--var arxiv_authorid="http://arxiv.org/a/narayanchowdhury_a_1";
    var arxiv_format="arxiv";
    var arxiv_max_entries=0;       //show all articles
    var arxiv_includeSummary=1;    //show abstracts (default is 0)
    var arxiv_includeComments=0;   //do not show comments (default is 1)
    //-->
  </script>
<script type="text/javascript" src="http://arxiv.org/js/myarticles.js">
</script>
<div id="arxivfeed">
</div>
